* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  flex-wrap: wrap;

}

.cell {
  border: 1px solid blue;
  font-size: 10px;
}

.scores {
  display: flex;
  width: 400px;
}


.flag {
  background-color: red!important; 
  z-index: 2;
}

.numberOn {
  background-color: grey;
}

.emptyOn {
  background-color: lightblue;
}

#playAgain {
  margin: 20px;
}