* {
  box-sizing: border-box;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: bold;
}
div {
  font-family: 'Creepster', cursive;
  font-size: 20px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Images/d8os5uh-3356809d-c113-4d05-b07c-bd29eaa5a6c2.png);
  /* background-repeat:  no-repeat; */
  background-size: cover;
  /* flex-grow: 1; */
  max-width: 100vw;
}

.header {
width: 100vw;
height: 100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Nosifer', cursive;
color: #CC0829;
margin-top: 10px;
margin-bottom: 20px;
}

h1 {
  font-family: 'Nosifer', cursive;
  color: #CC0829;
  font-size: 100px;
  margin-bottom: 20px;
}

h2 {
  display: none;
}

#logo {
  max-width: 100%;
}
/* #logo {
  background-image: url(../Images/StarWarsColor.png);
  background-size: 500px 200px;
  background-repeat: no-repeat;
  width: 500px;
  height: 200px;
  margin: 100px auto 50px auto;

} */

#theGrid {
  margin-top: 50px;
}

.grid {
  display: flex;
  flex-direction: row;
 
  flex-wrap: wrap;
  background-color: white;
}

.cell {
  border: 3px solid;
  border-color: white darkgrey darkgrey white;
  font-size: 10px;
  background-image: linear-gradient(300deg, lightgrey, #F5F5F5, white); 
}



.scores {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  /* color: #CC0829; */
  color: white;
  margin: 0 10px;
}

.scoresPadding {
  padding: 10px;
}

#selectDifficulty {
  padding: 10px;
}
#highscore {
  padding: 10px;
}
#theRules {
  padding: 10px;
}

#flagsDiv {
  padding: 10px;
}

#timeDiv {
  padding: 10px;
}

p {
  font-family: 'Creepster', cursive;
  letter-spacing: 3px;
}


.flag {
  z-index: 2;
  background-image: url(../Images/bloody-axe-png-transparent-free-png-images-clipart-download-bloody-axe-png-920_943.jpg), linear-gradient(300deg, lightgrey, #F5F5F5, white);
  background-size: 100%;
  background-repeat: no-repeat;
 
}

.numberOn {
  background-color: grey;
  /* background-image: linear-gradient(300deg, dodgerblue, #f5f5f5, white); */
  background-image: linear-gradient(300deg, #F5F5F5, white);
  font-size: 150%;
  text-align: center;
  border: solid 3px white;
  
}

.centeredNumberEasy {
  padding: 5px;
}



.numberHard {
  font-size: 100%;
}

.emptyOn {
  background-image: linear-gradient(300deg, #F5F5F5, white);
  background-size: cover;
  border: solid 3px white;
  
}




.bombOn {
  background-image: url(../Images/bloodspatter.webp), linear-gradient(300deg, #f5f5f5, white);
  background-size: cover;
  animation: revealBlood 2s linear;
}


#playAgain {
  margin: 20px;
}

#buttonDiv {
  margin: 20px;
}

#difficulties {
  width: 62%;
  
}

.select-selected {
  background-color: dodgerblue;
}

.one {
 color: blue;
}

.two {
 color: green;
}

.three {
 color: red;
}

.four {
 color: purple;
}

.five {
 color: orange;
}

.six {
 color: magenta;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#theRules:hover,
#theRules:focus {
  cursor: pointer;
}

#rulesIntro {
  font-family: 'Nosifer', cursive;
  color: #CC0829;
}

#mobileChoices {
  display: none;
}

@keyframes revealBlood {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}



/*! Responsive Design */


@media only screen and (max-width: 800px) {
  #selectDifficulty {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .numberOn {
    font-size: 120%;

  }

  .numberHard {
    font-size: 90%;
  }
}


@media only screen and (min-width: 970px) and (max-width: 1200px) {
  h1 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 1100px) {
  .numberOn {
    font-size: 100%;
  }

  .centeredNumberEasy {
    padding: 5px;
  }

  .numberHard {
    font-size: 50%;
  }

}

@media only screen and (min-width: 1025px) {
  .cell:hover {
    background-image: url(../Images/stickers-bloody-handprint.jpg.jpg);
    background-size: 100%;
   
  }
  .emptyOn:hover {
    background-image: linear-gradient(300deg, #F5F5F5, white);
  }
  .numberOn:hover {
    background-image: linear-gradient(300deg,#f5f5f5, white);
  }
}

@media  only screen and (max-width: 1024px) {

  #mobileChoices {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    width: 500px;
  }
  #mobileDig {
    width: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mobileFlag{
    width: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mobileDigButton{
    background-image: url(../Images/stickers-bloody-handprint.jpg.jpg), linear-gradient(300deg, lightgrey, #F5F5F5, white);
    background-size: cover;
    width: 50px;
    height: 50px;
    position: center;
  }
  #mobileFlagButton{
    background-image: url(../Images/bloody-axe-png-transparent-free-png-images-clipart-download-bloody-axe-png-920_943.jpg), linear-gradient(300deg, lightgrey, #F5F5F5, white);
    background-size: cover;
    width: 50px;
    height: 50px;
    position: center;
  }
  .numberOn {
    font-size: 180%;
  }
  .numberHard {
    font-size: 50%;
  }
}


@media only screen and (max-width: 970px) {
  h1 {
    font-size: 50px;
  }
  .numberOn {
    font-size: 130%;
  }
  .numberHard {
    font-size: 50%;
  }
  
}

/*! Mobile Design */

/* ! Next Break Point is 605*/
@media only screen and (max-width: 750px) {
  .centeredNumberEasy {
    padding: 0px;
  }
}

@media only screen  and (max-width: 605px) {
  h1 {
    font-size: 30px;
  }

  .scores {
    flex-wrap: wrap;
    min-width: 100vw;
  }
  .numberOn {
    font-size: 90%;
  }
}

@media only screen and (max-width: 360px) {
  h1 { 
    display: none;
  }
  h2 {
    display: block;
    font-size: 40px;
    color:#CC0829;
    font-family: 'Nosifer', cursive;
    text-align: center;
  }

  .numberOn {
    font-size: 80%;
  }
}